.topic-profile {
  .topic-picture img {
    border: 0.35rem solid var(--color-primary-500)
  }
}

.topic {
  .topic-icon {
    color: var(--color-primary-500)
  }

  .topic-labels {
    color: var(--color-primary-500);
  }
}
