.markdown {
  .diagram {
    .s-wrapper {
      background-color: #f0f0f0;
      border: 1px solid var(--color-mono-200);
      color: var(--color-mono-200);
      font-size: var(--font-size--1);
      padding-block-end: var(--space-xs);
    }
  }
}
