---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}{% if item.data.lastmod %}
    <url>
        <loc>https://www.jaccomeijer.nl{{ item.url }}</loc>
        <lastmod>{{ item.data.lastmod | postDate }}</lastmod>
    </url>
{% else %}{% endif %}{% endfor %}
</urlset>
